#jinja2: newline_sequence:'\r\n'
filebeat:
  prospectors:
    -
      paths:
        - "C:\\nomad\\data\\alloc\\*\\alloc\\logs\\*"
output:
  redis:
    host: "{{ redis_host }}"
    port: {{ redis_port }}
    password: "{{ redis_password }}"
